.cards {
    max-width: 880px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: minmax(auto, 282px) minmax(auto, 282px) minmax(auto, 282px);
    grid-template-rows: min-content min-content min-content;
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width:900px) {
    .cards {
        max-width: 600px;
        grid-template-columns: minmax(auto, 282px) minmax(auto, 282px);
        grid-template-rows: min-content min-content;
        padding-left: 27px;
    }

}

@media screen and (max-width:630px) {
    .cards {
        margin-top: 36px;
        max-width: 282px;
        grid-template-columns: minmax(auto, 282px);
        grid-template-rows: min-content;
        padding-left: 0;
        margin: 36px auto 0;
    }

}

@media screen and (max-width:360px) {
    .cards {
        margin-left: 19px;
        margin-right: 19px;
    }

}