.card__item_active {
    background-image: url("../../../../images/card__item_active.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 19px;
    object-fit: cover;
}