.footer {
    max-width: 880px;
    margin: 46px auto 60px;
}

@media screen and (max-width:1000px) {
    .footer {
        max-width: 600px;
        margin-left: 27px;
    }

}

@media screen and (max-width:425px) {
    .footer {
        max-width: 282px;
        margin: 48px 19px 36px 19px;
    }

}